CREATE TRIGGER [sankhya].[AD_DLT_INSTALACOES_AD_PRODINS_TGFITE]

/*
  AUTOR: Nelson Nunes
  DATA: 27/10/2020
  MOTIVO: * DELETAR REGISTRO DA TABELA AD_PRODINS

*/

   ON  [sankhya].[TGFITE]
INSTEAD OF DELETE AS
BEGIN

DECLARE  
    @NUNOTA                   INT,
	@SEQUENCIA				  INT,
    @NUMROWS                  INT,  
    @ERRMSG                   VARCHAR(255),  
    @VALIDAR                  BIT,
    @SOLICITANTE              CHAR(80)  

  SET  @NUMROWS = @@ROWCOUNT  
  IF @NUMROWS = 0  
    RETURN  

  IF (SANKHYA.STP_GET_ATUALIZANDO() = 1)
    RETURN   

  SELECT @NUNOTA = NUNOTA, @SEQUENCIA=SEQUENCIA FROM DELETED
  IF EXISTS (SELECT 1 
			 FROM AD_PRODINS C
			 WHERE C.NUNOTA = @NUNOTA AND C.SEQUENCIA=@SEQUENCIA)
      DELETE FROM AD_PRODINS 
      WHERE NUNOTA = @NUNOTA AND SEQUENCIA = @SEQUENCIA

  SELECT @NUNOTA = NUNOTA, @SEQUENCIA=SEQUENCIA FROM DELETED
  IF EXISTS (SELECT 1 
			 FROM TGFITE C
			 WHERE C.NUNOTA = @NUNOTA AND C.SEQUENCIA=@SEQUENCIA)
      DELETE FROM TGFITE 
      WHERE NUNOTA = @NUNOTA AND SEQUENCIA = @SEQUENCIA

  
  RETURN  
    
ERROR:  
  CLOSE DELETITEDEL  
  DEALLOCATE DELETITEDEL  
ERROR1:  
 IF (@VALIDAR = 1)  
    RAISERROR(@ERRMSG, 16, 1)
  
  IF (UPPER(@SOLICITANTE) LIKE 'MICROSOFT%') OR
           (@SOLICITANTE = 'MS SQLEM') OR 
           (@SOLICITANTE = 'MS SQL QUERY ANALYZER')  
    ROLLBACK TRANSACTION 
---- Deleta os filhos correspondentes
----DELETE FROM AD_PRODINS WHERE AD_PRODINS.NUNOTA = @NUNOTA
--DELETE FROM AD_INSPRO WHERE AD_INSPRO.NUNOTA = @NUNOTA
END


