USE [SANKHYA_PROD]
GO
/****** Object:  StoredProcedure [sankhya].[AD_POPULA_CTE_HOJE]    Script Date: 27/05/2020 11:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [sankhya].[AD_POPULA_CTE_HOJE]
AS
BEGIN

DELETE FROM TGFCTE WHERE DTCONTAGEM = CONVERT(DATE,GETDATE())

INSERT INTO TGFCTE (DTCONTAGEM
     , CODEMP
     , CODLOCAL
     , CODPROD
     , CONTROLE
     , QTDEST
     , CODVOL
     , CODPARC
     , TIPO
     , SEQUENCIA
     , QTDESTUNCAD)
SELECT CONVERT(DATE,GETDATE()) AS DTCONTAGEM
     , EST.CODEMP
	 , 0 AS CODLOCAL
	 , EST.CODPROD
	 , EST.CONTROLE
	 , SUM(EST.ESTOQUE) AS QTDEST
	 , PRO.CODVOL
     , 0 
	 , EST.TIPO
	 , 1 AS SEQUENCIA 
	 , SUM(EST.ESTOQUE) AS QTDESTUNCAD
 FROM TGFEST EST, TGFPRO PRO, TGFGRU GRU  
WHERE EST.CODPROD = PRO.CODPROD   
  AND PRO.CODGRUPOPROD = GRU.CODGRUPOPROD   
  AND ISNULL((SELECT PEM.USOPROD FROM TGFPEM PEM WHERE PEM.CODPROD = EST.CODPROD AND PEM.CODEMP = EST.CODEMP), PRO.USOPROD) <> 'T'   
  AND ( EST.CODPARC = 0 OR (ISNULL(PRO.CODPARCCONSIG, 0) = 0) )  
  AND PRO.USOPROD = 'R' 
  AND PRO.ATIVO = 'S' 
  AND EST.CODEMP IN (1,2,3,4,6,7,8,9,11,12,22,28)
GROUP BY EST.CODEMP
     , EST.CODPROD
     , PRO.CODVOL
	 , EST.CONTROLE
	 , PRO.CODVOL
	 , EST.TIPO
ORDER BY EST.CODEMP, EST.CODPROD

DECLARE @CODEMP INT

IF (SELECT CURSOR_STATUS('local','emp_cte')) >= -1
 BEGIN
  IF (SELECT CURSOR_STATUS('local','emp_cte')) > -1
   BEGIN
    CLOSE emp_cte
   END
 DEALLOCATE emp_cte
END


DECLARE emp_cte CURSOR LOCAL FOR   
SELECT CODEMP FROM TGFEMP WHERE ATIVO = 'S' AND CODEMP IN (1,2,3,4,6,7,8,9,11,12,22,28)

OPEN emp_cte  
  
FETCH NEXT FROM emp_cte   
INTO @CODEMP
  
WHILE @@FETCH_STATUS = 0  
BEGIN  

INSERT INTO TGFCTE (DTCONTAGEM
     , CODEMP
     , CODLOCAL
     , CODPROD
     , CONTROLE
     , QTDEST
     , CODVOL
     , CODPARC
     , TIPO
     , SEQUENCIA
     , QTDESTUNCAD)
SELECT CONVERT(DATE,GETDATE()) AS DTCONTAGEM
     , @CODEMP
	 , 0 AS CODLOCAL
	 , PRO.CODPROD
	 , ' ' CONTROLE
	 , 0 AS QTDEST
	 , PRO.CODVOL
     , 0 
	 , 'P'
	 , 1 AS SEQUENCIA 
	 , 0 AS QTDESTUNCAD
  FROM TGFPRO PRO
 WHERE PRO.USOPROD = 'R'
   AND PRO.ATIVO = 'S'
   AND ((@CODEMP <> 22 AND PRO.AD_PROREAL = 'S')
    OR (@CODEMP = 22 AND PRO.AD_PROPAULISTA = 'S')
	)
   AND NOT EXISTS (SELECT 1 FROM TGFCTE WHERE CODEMP = @CODEMP AND CODPROD = PRO.CODPROD AND DTCONTAGEM = CONVERT(DATE,GETDATE()))

   IF @CODEMP = 1
   BEGIN

		UPDATE CTE SET QTDEST = CB.QTD
		  FROM TGFCTE CTE INNER JOIN TGFPRO PRO ON CTE.CODPROD = PRO.CODPROD --AND PRO.ATIVO = 'S' AND PRO.USOPROD IN ('R','V')
						  INNER JOIN CB001 CB ON CTE.CODPROD = CB.CODPROD
		 WHERE CTE.DTCONTAGEM = CONVERT(DATE,GETDATE())
		   AND CTE.CODEMP = @CODEMP
		   AND CTE.QTDEST > CB.QTD
		   AND CTE.SEQUENCIA = 1
		   AND CTE.QTDEST > 0
		   AND CTE.CODPARC = 0

	END


    FETCH NEXT FROM emp_cte   
    INTO @CODEMP 
END 
CLOSE emp_cte;


END