
-- ===============================================================
-- Author: 
-- Create date: 06/09/2018
-- Description: Cria tabela com dados para criação
--				dos indicadores Signa.
-- ===============================================================
CREATE PROCEDURE [sankhya].[AD_SIGNA] AS
BEGIN
	SET NOCOUNT ON;

	IF OBJECT_ID('sankhya.AD_SIGNA_TMP', 'U') IS NOT NULL 
	DROP TABLE AD_SIGNA_TMP;

	SELECT * INTO AD_SIGNA_TMP 
	FROM (



		SELECT /* PLANILHA SIGNA */

		ANO,MES,
		ROUND(SUM(VOLUME_DE_VENDAS_MENSAL),2) VALOR_VENDAS_VLR,
		ROUND(SUM(VOLUME_DE_COMPRAS_MENSAL),2) VALOR_COMPRAS_VLR,
		ROUND(SUM(NIVEL_ESTOQUE),2) VALOR_ESTOQUE_VLR,
		SUM(NOTAS_EMITIDAS) NOTAS_EMITIDAS_QTE,
		SUM(TRANSFERENCIAS) TRANSFERENCIAS_QTE,
		SUM(DEVOLUCAO_COMPRA) DEVOLUCAO_COMPRA_QTE,
		SUM(DEVOLUCAO_VENDA) DEVOLUCAO_VENDA_QTE,
		ROUND(SUM(VENDA_POR_PRECO_CUSTO),2) VENDA_POR_PRECO_CUSTO_VLR,
		SUM(RUPTURAS) RUPTURAS,
		SUM(VENDA_PERDIDA_PRECO) VENDA_PERDIDA_PRECO,
		SUM(QUATIDADE_ITENS)QUATIDADE_ITENS

		FROM (



			-- VOLUME DE VENDAS MENSAL (R$)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,SUM(VLRNOTA) VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='V' AND CODVEND <> 59 AND NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CODTIPOPER = 900

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/11/2017' 
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP NOT IN (22)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)




			UNION ALL



			-- VOLUME DE COMPRAS MENSAL (R$)

			SELECT YEAR(DTENTSAI) ANO,MONTH(DTENTSAI) MES,0 VOLUME_DE_VENDAS_MENSAL,SUM(VLRNOTA) VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='C' AND CODVEND <> 59 AND NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CODTIPOPER IN (701,712)

			AND DTENTSAI >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTENTSAI < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTENTSAI > '30/11/2017'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP NOT IN (22)

			GROUP BY YEAR(DTENTSAI),MONTH(DTENTSAI)





			UNION ALL




			-- NÍVEL ATUAL DOS ESTOQUES

			SELECT ANO,MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,SUM(VLR_ESTOQUE_GERENCIAL) NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM (
				SELECT SUB1.CODEMP,SUB1.NOMEFANTASIA,SUB1.MES,SUB1.ANO,SUM(SUB1.VLR_ESTOQUE_GERENCIAL) VLR_ESTOQUE_GERENCIAL
				FROM (
					SELECT EMP.CODEMP,EMP.NOMEFANTASIA,CTE.CODPROD,MONTH(CTE.DTCONTAGEM) MES,YEAR(CTE.DTCONTAGEM) ANO,
					(ISNULL((SELECT TOP 1 ENTRADACOMICMS FROM TGFCUS WITH (NOLOCK) WHERE ENTRADACOMICMS > 0 AND CODEMP = EMP.CODEMP AND CODPROD = PRO.CODPROD AND
							(
								YEAR(DTATUAL) = YEAR(CTE.DTCONTAGEM) AND MONTH(DTATUAL) <= MONTH(CTE.DTCONTAGEM) OR
								YEAR(DTATUAL) < YEAR(CTE.DTCONTAGEM)
							)
						ORDER BY DTATUAL DESC),0)
						*
						ISNULL((SELECT TOP 1 QTDEST FROM TGFCTE WITH (NOLOCK) WHERE CODEMP = EMP.CODEMP AND CODPROD = PRO.CODPROD
							AND YEAR(DTCONTAGEM) = YEAR(CTE.DTCONTAGEM) AND MONTH(DTCONTAGEM) = MONTH(CTE.DTCONTAGEM)
						ORDER BY DTCONTAGEM DESC),0)
					) VLR_ESTOQUE_GERENCIAL
					FROM TSIEMP EMP WITH (NOLOCK)
					INNER JOIN TGFCTE CTE WITH (NOLOCK) ON CTE.CODEMP = EMP.CODEMP
					INNER JOIN TGFPRO PRO WITH (NOLOCK) ON PRO.CODPROD = CTE.CODPROD
					WHERE EMP.CODEMPMATRIZ = 1 AND EMP.CODEMP NOT IN (5,22) AND PRO.ATIVO = 'S' AND PRO.USOPROD = 'R' --AND PRO.CODPROD=23967

					AND CTE.DTCONTAGEM >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
					--AND CTE.DTCONTAGEM < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
					AND CTE.DTCONTAGEM > '30/11/2017'
					AND CTE.DTCONTAGEM <= GETDATE()

					GROUP BY EMP.CODEMP,EMP.NOMEFANTASIA,CTE.CODPROD,MONTH(CTE.DTCONTAGEM),YEAR(CTE.DTCONTAGEM),PRO.CODPROD
				) SUB1
				GROUP BY CODEMP,NOMEFANTASIA,MES,ANO
			) SUB2
			WHERE VLR_ESTOQUE_GERENCIAL>0
			GROUP BY ANO,MES




			UNION ALL




			-- Nº DE TICKETS EMITIDOS (QTE)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,COUNT(NUNOTA) NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='V' AND CODVEND <> 59 AND NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CODTIPOPER = 900

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/11/2017'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP NOT IN (22)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)




			UNION ALL




			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,COUNT(NUNOTA) TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='V'
			AND CODTIPOPER = 908

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/11/2017'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP NOT IN (22)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)




			UNION ALL




			-- Nº DEVOLUÇÕES POR COMPRA (QTDE)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,COUNT(NUNOTA) DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='E'

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/11/2017'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP NOT IN (22)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)





			UNION ALL




			-- Nº DE DEVOLUÇÕES DE VENDAS (QTE)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,COUNT(NUNOTA) DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='D'

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/11/2017'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP NOT IN (22)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)





			UNION ALL





			-- VENDAS POR PREÇO DE CUSTO GERENCIAL

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,SUM(VALOR_VENDA_POR_CUSTO) VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM(
			SELECT CAB.DTNEG DTNEG,(
						ISNULL((SELECT TOP 1 ENTRADACOMICMS FROM TGFCUS WITH (NOLOCK) WHERE ENTRADACOMICMS > 0 AND CODEMP = CAB.CODEMP AND CODPROD = ITE.CODPROD AND
							(
								YEAR(DTATUAL) = YEAR(CAB.DTNEG) AND MONTH(DTATUAL) <= MONTH(CAB.DTNEG) OR
								YEAR(DTATUAL) < YEAR(CAB.DTNEG)
							)
						ORDER BY DTATUAL DESC),0)
						*
						ITE.QTDNEG
				) VALOR_VENDA_POR_CUSTO
			FROM TGFCAB CAB WITH (NOLOCK)
			INNER JOIN TGFITE ITE WITH (NOLOCK) ON (ITE.NUNOTA=CAB.NUNOTA)
			WHERE TIPMOV='V' AND CAB.CODVEND <> 59 AND CAB.NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CAB.CODTIPOPER = 900

			AND CAB.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND CAB.DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/11/2017'
			AND DTNEG <= GETDATE()
			AND CAB.CODEMP NOT IN (22)

			)SUB1

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)





			UNION ALL





			-- Nº DE RUPTURAS DE ESTOQUES NO MÊS (QTE)

			SELECT YEAR(DATA) ANO,MONTH(DATA) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,SUM(QTE) RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM (

				--SELECT C.DTNEG DATA,1 QTE
				SELECT C.DTNEG DATA,I.QTDNEG QTE
				FROM TGFITE I WITH (NOLOCK)
				INNER JOIN TGFCAB C WITH (NOLOCK) ON (C.NUNOTA=I.NUNOTA)
				WHERE I.AD_JUSTPERDA = 4
				AND C.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND C.DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			 	AND C.DTNEG > '30/11/2017'
			    AND DTNEG <= GETDATE()
			    AND I.CODEMP NOT IN (22)

				UNION ALL

				SELECT I.DATA DATA,1 QTE
				FROM AD_JUSPERVEN I WITH (NOLOCK)
				WHERE I.JUSTPERDA = 4
				AND I.DATA >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND I.DATA < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
				AND I.DATA > '30/11/2017'
			    AND I.DATA <= GETDATE()
			    AND I.CODEMP NOT IN (22)

			)SUB2

			GROUP BY YEAR(DATA),MONTH(DATA)




			UNION ALL




			-- Nº DE VENDAS PERDIDAS POR PREÇO (QTE)

			SELECT YEAR(DATA) ANO,MONTH(DATA) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,SUM(QTE) VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM (

				--SELECT C.DTNEG DATA,1 QTE
				SELECT C.DTNEG DATA,I.QTDNEG QTE
				FROM TGFITE I WITH (NOLOCK)
				INNER JOIN TGFCAB C WITH (NOLOCK) ON (C.NUNOTA=I.NUNOTA)
				WHERE I.AD_JUSTPERDA = 1
				AND C.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND C.DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
				AND C.DTNEG > '30/11/2017'
			    AND C.DTNEG <= GETDATE()
			    AND I.CODEMP NOT IN (22)

				UNION ALL

				SELECT I.DATA DATA,1 QTE
				FROM AD_JUSPERVEN I WITH (NOLOCK)
				WHERE I.JUSTPERDA = 1
				AND I.DATA >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND I.DATA < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
				AND I.DATA > '30/11/2017'
			    AND I.DATA <= GETDATE()
			    AND I.CODEMP NOT IN (22)

			)SUB3

			GROUP BY YEAR(DATA),MONTH(DATA)

			UNION ALL

			-- QUANTIDADE DE ITENS VENDIDOS (QTE)

			SELECT YEAR(CAB.DTNEG) ANO,MONTH(CAB.DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, SUM(ITE.QTDNEG) QUATIDADE_ITENS
			FROM TGFCAB CAB WITH (NOLOCK) INNER JOIN TGFITE ITE ON (ITE.NUNOTA=CAB.NUNOTA)
			WHERE CAB.TIPMOV='V'
			AND CAB.STATUSNOTA = 'L'
			AND CAB.CODTIPOPER NOT IN (908,912)

			AND CAB.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND CAB.DTNEG > '30/11/2017'
			AND CAB.DTNEG <= GETDATE()
			AND CAB.CODEMP NOT IN (22)

			GROUP BY YEAR(CAB.DTNEG),MONTH(CAB.DTNEG)

		) S
		GROUP BY ANO,MES

	)T;


	
	/*DECLARE @FILA INT
	SELECT @FILA = (ULTCOD+1) FROM TGFNUM WHERE ARQUIVO='TMDFMG'
	INSERT INTO TMDFMG (CODFILA,TIPOENVIO,ASSUNTO,EMAIL,MIMETYPE,TIPODOC,CODUSU,MENSAGEM,STATUS,CODCON) VALUES (@FILA,'E','AD_SIGNA','rafael.contact@gmail.com','text/html','N',0,'<html><body style="font-family: verdana; font-size:12px;">criacao ok - AD_SIGNA_TMP</body></html>','Pendente',0)
	UPDATE TGFNUM set ULTCOD = @FILA WHERE ARQUIVO='TMDFMG'*/



END



