CREATE PROCEDURE AD_STP_SUGESTAO AS
BEGIN
	SET NOCOUNT ON;

	-- Adiciona registro de estoque zero nas lojas para aparecer em sugestão de compras
	DECLARE @EMPR INT
	DECLARE LISTA CURSOR FOR SELECT CODEMP FROM TSIEMP WHERE CODEMPMATRIZ = 1
	OPEN LISTA
	FETCH NEXT FROM LISTA INTO @EMPR
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO TGFEST (CODEMP,CODLOCAL,CODPROD,CONTROLE,RESERVADO,ESTMIN,ESTMAX,ATIVO,TIPO,CODPARC,ESTOQUE,STATUSLOTE)
		SELECT
			@EMPR AS CODEMP,
			0 AS CODLOCAL,
			P.CODPROD CODPROD,
			'' CONTROLE,
			0 RESERVADO,
			0 ESTMIN,
			0 ESTMAX,
			'S' ATIVO,
			'P' TIPO,
			0 CODPARC,
			0 ESTOQUE,
			'N' STATUSLOTE
		FROM TGFPRO P
		WHERE P.CODPROD NOT IN (SELECT CODPROD FROM TGFEST WHERE CODEMP = @EMPR);
		FETCH NEXT FROM LISTA INTO @EMPR
	END
	CLOSE LISTA
	DEALLOCATE LISTA

	-- Apaga e cria tabela de Sugestão de Compras
	DROP TABLE AD_TSUGESTAO;
	SELECT * INTO AD_TSUGESTAO FROM AD_SUGESTAO WITH (NOLOCK);

	-- Apaga e cria tabela de Sugestão de Compras - segunda versão com as curvas A, B e C
	DROP TABLE AD_TSUGESTAO2;
	SELECT * INTO AD_TSUGESTAO2 FROM AD_SUGESTAO2 WITH (NOLOCK) WHERE CURVA IS NOT NULL;

	/*DECLARE @FILA INT
	SELECT @FILA = (ULTCOD+1) FROM TGFNUM WHERE ARQUIVO='TMDFMG'
	INSERT INTO TMDFMG (CODFILA,TIPOENVIO,ASSUNTO,EMAIL,MIMETYPE,TIPODOC,CODUSU,MENSAGEM,STATUS,CODCON) VALUES (@FILA,'E','AD_STP_SUGESTAO','rafael.contact@gmail.com','text/html','N',0,'<html><body style="font-family: verdana; font-size:12px;">criacao ok - AD_TSUGESTAO</body></html>','Pendente',0)
	UPDATE TGFNUM set ULTCOD = @FILA WHERE ARQUIVO='TMDFMG'*/

END
