/****** CREATE bloqueio de vendas empresas e parceiros ******/
CREATE PROCEDURE AD_BLOQ_VENDA_ENTRE_EMP (@P_NUNOTA INT, @P_SUCESSO VARCHAR(1) OUT , @P_MENSAGEM VARCHAR(255) OUT, @P_CODUSULIB INT OUT) AS
BEGIN
	DECLARE @CODTIPVENDA INT,
			@CODPARC INT,
			@P_COUNT INT,
			@ERRMSG VARCHAR(255)

	BEGIN
		SET @P_SUCESSO = 'S'
		SET @P_MENSAGEM = ''


		       SELECT @CODPARC = CAB.CODPARC
		         FROM TGFCAB CAB
		 	    WHERE CAB.NUNOTA = @P_NUNOTA
				   AND CAB.CODEMP NOT IN (22)


			IF EXISTS (SELECT 1 FROM TSIEMP SMP INNER JOIN TGFEMP GMP ON SMP.CODEMP = GMP.CODEMP AND GMP.ATIVO = 'S'
			                   WHERE SMP.CODPARC = @CODPARC
							     AND SMP.CODEMP NOT IN (22))

			BEGIN
				SET @P_SUCESSO = 'N'
				SET @P_MENSAGEM = 'Não é permitido usar essa TOP entre filiais.'
			END

	END
END

