CREATE PROCEDURE [sankhya].[AD_ATUALIZA_TAB_ARCOIRIS_CURITIBA] (@P_DTINI	DATE = NULL, @P_DTFIN	DATE = NULL)
AS
DECLARE
@CODTAB			INT,
@DTVIGOR		DATE = DATEADD(DAY,1,CONVERT(DATE,GETDATE())) ,
@NUTAB			INT,
@CODPROD		INT,
@CODEMP			INT = 1,
@VLRCUS			FLOAT,
@PERCTAB		FLOAT,
@PRECO			FLOAT,
@PRECO_ATUAL	FLOAT,
@I				INT = 0,
@ULT_NUTAB		INT


SET @P_DTINI = CONVERT(DATE,ISNULL(@P_DTINI,DATEADD(DAY,-30,GETDATE())))
SET @P_DTFIN = CONVERT(DATE,ISNULL(@P_DTFIN,GETDATE()))

DECLARE TABELAS CURSOR FOR
SELECT DISTINCT CODTAB
  FROM TGFTAB
 WHERE CODTAB IN (7)

OPEN TABELAS  

FETCH NEXT FROM TABELAS   
INTO @CODTAB

WHILE @@FETCH_STATUS = 0  
BEGIN  


	DECLARE PRODUTOS CURSOR FOR   
	SELECT DISTINCT C.CODPROD
	  FROM TGFCUS C INNER JOIN TGFPRO P ON C.CODPROD = P.CODPROD
	 WHERE C.CODEMP = 6
	   AND C.DTATUAL >= @P_DTINI
	   AND C.DTATUAL <= @P_DTFIN
	   AND P.USOPROD = 'R'
	   --AND ISNULL(P.AD_PROIBEVENDAONLINE,'N') <> 'S'


	OPEN PRODUTOS  

	FETCH NEXT FROM PRODUTOS   
	INTO @CODPROD

	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		-- INSERE VERSÃO ATUALIZADA DA TABELA
		IF NOT EXISTS (SELECT 1 FROM TGFTAB WHERE CODTAB = @CODTAB AND DTVIGOR = @DTVIGOR)
		INSERT INTO TGFTAB (CODTAB,CODTABORIG,DTALTER,DTVIGOR,JAPE_ID,PERCENTUAL,UTILIZADECCUSTO ) VALUES ( @CODTAB,@CODTAB,@DTVIGOR,@DTVIGOR,NULL,NULL,NULL )

		-- PESQUISAR NUTAB
		SELECT @NUTAB = MAX(NUTAB) FROM TGFTAB WHERE CODTAB = @CODTAB


		IF @CODTAB = 7
		SELECT @PERCTAB = AD_TABCINZA/100
		  FROM TSIEMP
		 WHERE CODEMP = 6

		
		SELECT @VLRCUS = [sankhya].[SNK_GET_CUSTO] ('ENTRADACOMICMS',@CODPROD,6/*loja*/,0,' ',GETDATE(),'S','N','N')
		--	 , @PRECO_ATUAL = [sankhya].[SNK_PRECO] (@CODTAB,@CODPROD)


		SELECT @ULT_NUTAB = MAX(E.NUTAB) 
		  FROM TGFEXC E INNER JOIN TGFTAB T ON E.NUTAB = T.NUTAB
		 WHERE T.CODTAB = @CODTAB
		   AND E.CODPROD = @CODPROD
		   AND T.DTVIGOR < @DTVIGOR

		SELECT @PRECO_ATUAL = [sankhya].[AD_PRECO](@ULT_NUTAB,@CODPROD,GETDATE())

		SET @PRECO = ROUND(@VLRCUS + @VLRCUS*@PERCTAB,2)


		-- INSERE NOVO PREÇO DO ITEM
		IF NOT EXISTS (SELECT 1 FROM TGFEXC WHERE NUTAB = @NUTAB AND CODPROD = @CODPROD) AND @PRECO > @PRECO_ATUAL
		BEGIN

			INSERT INTO TGFEXC ( CODLOCAL,CODPROD,CONTROLE,NUTAB,TIPO,VLRVENDA ) VALUES (0,@CODPROD,' ',@NUTAB,'V',ISNULL(@PRECO,0) )
			SET @I = @I+1

		END


		FETCH NEXT FROM PRODUTOS   
		INTO @CODPROD
	END   
	CLOSE PRODUTOS;  
	DEALLOCATE PRODUTOS;

	-- SE NÃO INSERIU NENHUM PRODUTO, APAGA A TABELA CRIADA
	IF @I = 0
	BEGIN
		DELETE FROM TGFTAB WHERE NUTAB = @NUTAB
		AND NOT EXISTS (SELECT 1 FROM TGFEXC WHERE NUTAB = TGFTAB.NUTAB)
	END
	

	SET @I = 0

	FETCH NEXT FROM TABELAS   
	INTO @CODTAB
END   
CLOSE TABELAS;  
DEALLOCATE TABELAS;