USE [SANKHYA_PROD]
GO
/****** Object:  StoredProcedure [sankhya].[AD_SIGNA_SP]    Script Date: 15/01/2020 14:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===============================================================
-- Author: NELSON NUNES
-- Create date: 15/01/2020
-- Description: Cria tabela com dados para criação
--				dos indicadores Signa.
-- ===============================================================
ALTER PROCEDURE [sankhya].[AD_SIGNA_SP] AS
BEGIN
	SET NOCOUNT ON;

	IF OBJECT_ID('sankhya.AD_SIGNA_SP', 'U') IS NOT NULL 
	DROP TABLE AD_SIGNA_TMPSP;

	SELECT * INTO AD_SIGNA_TMPSP 
	FROM (



		SELECT /* PLANILHA SIGNA PAULISTA */

		ANO,MES,
		ROUND(SUM(VOLUME_DE_VENDAS_MENSAL),2) VOL_VENDAS_MENSAL,
		ROUND(SUM(VOLUME_DE_COMPRAS_MENSAL),2) VOL_COMPRAS_MENSAL,
		ROUND(SUM(NIVEL_ESTOQUE),2) NIVEL_ATUAL_ESTOQUES,
		SUM(NOTAS_EMITIDAS) NUM_PEDIDOS_VENDAS_EMITIDOS,
		SUM(TRANSFERENCIAS) NUM_TRANSFERENCIAS_QTE,
		SUM(DEVOLUCAO_COMPRA) NUM_DEVOLUCAO_COMPRA_QTE,
		SUM(DEVOLUCAO_VENDA) NUM_DEVOLUCAO_VENDA_QTE,
		ROUND(SUM(VENDA_POR_PRECO_CUSTO),2) VALOR_CUSTO_SAIDA_ESTOQUES,
		SUM(RUPTURAS) NUM_RUPTURAS,
		SUM(VENDA_PERDIDA_PRECO) VENDAS_PERDIDAS_PRECO,
		SUM(QUATIDADE_ITENS) NUM_ITENS_VENDIDOS

		FROM (



			-- VOLUME DE VENDAS MENSAL (R$)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,SUM(VLRNOTA) VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='V' AND CODVEND <> 59 AND NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CODTIPOPER IN (900)

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/07/2018' 
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP IN (22,28)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)




			UNION ALL



			-- VOLUME DE COMPRAS MENSAL (R$)

			SELECT YEAR(DTENTSAI) ANO,MONTH(DTENTSAI) MES,0 VOLUME_DE_VENDAS_MENSAL,SUM(VLRNOTA) VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='C' AND CODVEND <> 59 AND NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CODTIPOPER IN (734,703)

			AND DTENTSAI >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTENTSAI < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTENTSAI > '30/07/2018'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP IN (22,28)

			GROUP BY YEAR(DTENTSAI),MONTH(DTENTSAI)





			UNION ALL




			-- NÍVEL ATUAL DOS ESTOQUES

			SELECT ANO,MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,SUM(VLR_ESTOQUE_GERENCIAL) NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM (
				SELECT SUB1.CODEMP,SUB1.NOMEFANTASIA,SUB1.MES,SUB1.ANO,SUM(SUB1.VLR_ESTOQUE_GERENCIAL) VLR_ESTOQUE_GERENCIAL
				FROM (
					SELECT EMP.CODEMP,EMP.NOMEFANTASIA,CTE.CODPROD,MONTH(CTE.DTCONTAGEM) MES,YEAR(CTE.DTCONTAGEM) ANO,
					(ISNULL((SELECT TOP 1 ENTRADACOMICMS FROM TGFCUS WITH (NOLOCK) WHERE ENTRADACOMICMS > 0 AND CODEMP = EMP.CODEMP AND CODPROD = PRO.CODPROD AND
							(
								YEAR(DTATUAL) = YEAR(CTE.DTCONTAGEM) AND MONTH(DTATUAL) <= MONTH(CTE.DTCONTAGEM) OR
								YEAR(DTATUAL) < YEAR(CTE.DTCONTAGEM)
							)
						ORDER BY DTATUAL DESC),0)
						*
						ISNULL((SELECT TOP 1 QTDEST FROM TGFCTE WITH (NOLOCK) WHERE CODEMP = EMP.CODEMP AND CODPROD = PRO.CODPROD
							AND YEAR(DTCONTAGEM) = YEAR(CTE.DTCONTAGEM) AND MONTH(DTCONTAGEM) = MONTH(CTE.DTCONTAGEM)
						ORDER BY DTCONTAGEM DESC),0)
					) VLR_ESTOQUE_GERENCIAL
					FROM TSIEMP EMP WITH (NOLOCK)
					INNER JOIN TGFCTE CTE WITH (NOLOCK) ON CTE.CODEMP = EMP.CODEMP
					INNER JOIN TGFPRO PRO WITH (NOLOCK) ON PRO.CODPROD = CTE.CODPROD
					WHERE EMP.CODEMP IN (22,28) AND PRO.ATIVO = 'S' AND PRO.USOPROD = 'R' --AND PRO.CODPROD=23967

					AND CTE.DTCONTAGEM >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
					--AND CTE.DTCONTAGEM < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
					AND CTE.DTCONTAGEM > '30/07/2018'
					AND CTE.DTCONTAGEM <= GETDATE()

					GROUP BY EMP.CODEMP,EMP.NOMEFANTASIA,CTE.CODPROD,MONTH(CTE.DTCONTAGEM),YEAR(CTE.DTCONTAGEM),PRO.CODPROD
				) SUB1
				GROUP BY CODEMP,NOMEFANTASIA,MES,ANO
			) SUB2
			WHERE VLR_ESTOQUE_GERENCIAL>0
			GROUP BY ANO,MES




			UNION ALL




			-- Nº DE TICKETS EMITIDOS (QTE)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,COUNT(NUNOTA) NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='V' AND CODVEND <> 59 AND NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CODTIPOPER IN (900,934)

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/07/2018'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP IN (22,28)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)




			UNION ALL




			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,COUNT(NUNOTA) TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='V'
			AND CODTIPOPER = 900

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/07/2018'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP IN (22,28)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)




			UNION ALL




			-- Nº DEVOLUÇÕES POR COMPRA (QTDE)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,COUNT(NUNOTA) DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='E'

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/07/2018'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP IN (22,28)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)





			UNION ALL




			-- Nº DE DEVOLUÇÕES DE VENDAS (QTE)

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,COUNT(NUNOTA) DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM TGFCAB WITH (NOLOCK)
			WHERE TIPMOV='D'

			AND DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/07/2018'
			AND DTNEG <= GETDATE()
			AND TGFCAB.CODEMP IN (22,28)

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)





			UNION ALL





			-- VENDAS POR PREÇO DE CUSTO GERENCIAL

			SELECT YEAR(DTNEG) ANO,MONTH(DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,SUM(VALOR_VENDA_POR_CUSTO) VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM(
			SELECT CAB.DTNEG DTNEG,(
						ISNULL((SELECT TOP 1 ENTRADACOMICMS FROM TGFCUS WITH (NOLOCK) WHERE ENTRADACOMICMS > 0 AND CODEMP = CAB.CODEMP AND CODPROD = ITE.CODPROD AND
							(
								YEAR(DTATUAL) = YEAR(CAB.DTNEG) AND MONTH(DTATUAL) <= MONTH(CAB.DTNEG) OR
								YEAR(DTATUAL) < YEAR(CAB.DTNEG)
							)
						ORDER BY DTATUAL DESC),0)
						*
						ITE.QTDNEG
				) VALOR_VENDA_POR_CUSTO
			FROM TGFCAB CAB WITH (NOLOCK)
			INNER JOIN TGFITE ITE WITH (NOLOCK) ON (ITE.NUNOTA=CAB.NUNOTA)
			WHERE TIPMOV='V' AND CAB.CODVEND <> 59 AND CAB.NUNOTA IN (SELECT NUNOTA FROM TGFFIN WITH (NOLOCK) WHERE ORIGEM = 'E' AND CODTIPTIT <> 69)
			AND CAB.CODTIPOPER IN (900,934)

			AND CAB.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND CAB.DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND DTNEG > '30/07/2018'
			AND DTNEG <= GETDATE()
			AND CAB.CODEMP IN (22,28)

			)SUB1

			GROUP BY YEAR(DTNEG),MONTH(DTNEG)





			UNION ALL





			-- Nº DE RUPTURAS DE ESTOQUES NO MÊS (QTE)

			SELECT YEAR(DATA) ANO,MONTH(DATA) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,SUM(QTE) RUPTURAS,0 VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM (

				--SELECT C.DTNEG DATA,1 QTE
				SELECT C.DTNEG DATA,I.QTDNEG QTE
				FROM TGFITE I WITH (NOLOCK)
				INNER JOIN TGFCAB C WITH (NOLOCK) ON (C.NUNOTA=I.NUNOTA)
				WHERE I.AD_JUSTPERDA = 4
				AND C.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND C.DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			 	AND C.DTNEG > '30/07/2018'
			    AND DTNEG <= GETDATE()
			    AND I.CODEMP IN (22,28)

				UNION ALL

				SELECT I.DATA DATA,1 QTE
				FROM AD_JUSPERVEN I WITH (NOLOCK)
				WHERE I.JUSTPERDA = 4
				AND I.DATA >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND I.DATA < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
				AND I.DATA > '30/07/2018'
			    AND I.DATA <= GETDATE()
			    AND I.CODEMP IN (22,28)

			)SUB2

			GROUP BY YEAR(DATA),MONTH(DATA)




			UNION ALL




			-- Nº DE VENDAS PERDIDAS POR PREÇO (QTE)

			SELECT YEAR(DATA) ANO,MONTH(DATA) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,SUM(QTE) VENDA_PERDIDA_PRECO, 0 QUATIDADE_ITENS
			FROM (

				--SELECT C.DTNEG DATA,1 QTE
				SELECT C.DTNEG DATA,I.QTDNEG QTE
				FROM TGFITE I WITH (NOLOCK)
				INNER JOIN TGFCAB C WITH (NOLOCK) ON (C.NUNOTA=I.NUNOTA)
				WHERE I.AD_JUSTPERDA = 1
				AND C.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND C.DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
				AND C.DTNEG > '30/07/2018'
			    AND C.DTNEG <= GETDATE()
			    AND I.CODEMP IN (22,28)

				UNION ALL

				SELECT I.DATA DATA,1 QTE
				FROM AD_JUSPERVEN I WITH (NOLOCK)
				WHERE I.JUSTPERDA = 1
				AND I.DATA >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
				--AND I.DATA < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
				AND I.DATA > '30/07/2018'
			    AND I.DATA <= GETDATE()
			    AND I.CODEMP IN (22,28)

			)SUB3

			GROUP BY YEAR(DATA),MONTH(DATA)

			UNION ALL

			-- QUANTIDADE DE ITENS VENDIDOS (QTE)

			SELECT YEAR(CAB.DTNEG) ANO,MONTH(CAB.DTNEG) MES,0 VOLUME_DE_VENDAS_MENSAL,0 VOLUME_DE_COMPRAS_MENSAL,0 NIVEL_ESTOQUE,0 NOTAS_EMITIDAS,0 TRANSFERENCIAS,0 DEVOLUCAO_COMPRA,0 DEVOLUCAO_VENDA,0 VENDA_POR_PRECO_CUSTO,0 RUPTURAS,0 VENDA_PERDIDA_PRECO, SUM(ITE.QTDNEG) QUATIDADE_ITENS
			FROM TGFCAB CAB WITH (NOLOCK) INNER JOIN TGFITE ITE ON (ITE.NUNOTA=CAB.NUNOTA)
			WHERE CAB.TIPMOV='V'
			AND CAB.STATUSNOTA = 'L'
			AND CAB.CODTIPOPER NOT IN (908,912)

			AND CAB.DTNEG >= CAST( CONCAT('01/', DATEPART(MONTH,DATEADD(MONTH, -13, GETDATE())),'/',DATEPART(YEAR,DATEADD(MONTH, -13, GETDATE())) ) AS DATE)
			--AND DTNEG < CAST( CONCAT('01/', DATEPART(MONTH,GETDATE()),'/',DATEPART(YEAR,GETDATE()) ) AS DATE)
			AND CAB.DTNEG > '30/07/2018'
			AND CAB.DTNEG <= GETDATE()
			AND CAB.CODEMP IN (22,28)

			GROUP BY YEAR(CAB.DTNEG),MONTH(CAB.DTNEG)

		) S
		GROUP BY ANO,MES

	)T;


END



